.selectField {
    height: 50px;
    border-radius: 25px;
    padding: 0 15px;

    border: 1px solid lightgray;
    background-color: #ffffff;
    color: #475569;

    font-size: 14px;
    font-family: sans-serif;

    cursor: pointer;
    outline: none;

    width: 200px;
    min-width: 150px;

    display: flex;
    align-items: center;
}

.selectField:hover {
    border-color: #cbd5e1;
}

@media (max-width: 1024px) {
    .selectField {
        width: 100%;
    }
}